body {
  box-sizing: border-box;
}

ul {
  list-style: none;
  border: 1px solid #E8E8E8;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

li:not(:last-child) {
  border-bottom: 1px solid #E8E8E8;
  padding: 0
}
